body{
margin: 0;
}

p{
    font-family: myriad-pro, sans-serif;
}

a{
    font-family: myriad-pro, sans-serif;
}

img{
    max-width: 100%;
}
/* INICIO BARRA DE NAVEGACION  */

.navegacion{
    border: solid px black;
    display: flex;
    height: 90px;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    box-shadow: 1px 1px 10px #666;
}


.logo{
    border: solid px black;
    padding-top: 6px;
    padding-bottom: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.logo img{
    width: 80px;
}

.secciones{
    border: solid px black;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.secciones a{
    text-decoration: none;
    color: black;
}

.lupa{
    border: solid px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lupa img{
    width: 40px;
}

.buscador{
    border: solid px black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -60px;
}

.buscador input{
    border: solid 1px gray;
    border-radius: 10px;
    width: 280px;
    height: 40px;
    text-align: center;
}

.iniciosesion{
    border: solid 1px gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 40px;
    width: 180px;
    margin-left: -60px;
    background-color: indigo;
}

.iniciosesion a{
    text-decoration: none;
    color: white;
    font-family: myriad-pro, sans-serif;
}




/* FIN BARRA DE NAVEGACION  */

/* INICIO RESPONSIVE BARRA DE NAVEGACION */


@media (max-width: 768px){
    .navegacion,  .lupa, .buscador, .iniciosesion, .logo{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
    }
}


@media (max-width: 768px){
    .lupa, .buscador, .iniciosesion{
        display:none;
        
    }
}

@media (max-width: 768px){
    .logo {
        margin-top: 0px;        
    }
}

@media (max-width: 768px){
    .navegacion {
       height: 100px;        
    }
}

@media (max-width: 768px){
    .navegacion {
       display: flex;     
       justify-content: end;
       align-items: flex-start;  
    }
}

@media (max-width: 768px){
    .secciones {

        margin-top: -40px;
        margin-left: 0px;
        width: 280px; 
        margin-left: 200px;

    }
}

@media (max-width: 768px){
    .logo {
       margin-left: 40px;
    }
}


.navegacion:target .secciones:target .lupa:target .buscador:target .iniciosesion:target .logo:target{
    display: block;
}



/* FIN RESPONSIVE BARRA DE NAVEGACION */


/* INICIO HEADER */

header{
    border: solid px black;
    height: 812px;
    background-image: url(./assets/2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 120%;
    background-position-x: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.recuadroinformacion{
    border: solid 3px black;
    width: 600px;
    height: 450px;

    margin-left: 120px;
    box-shadow: 1px 2px 10px #666;
    display: flex;

}


.recuadroinformacion img{
    width: 200px;
    border: solid px black;
    margin-left: 200px;
    

}

.recuadroinformacion p{
    text-align: center;
    border: solid px black;
    height: 230px;
    opacity: 100%;
    color: black;
    font-size: 20px;
    font-family: myriad-pro, sans-serif;
}

.recuadrogris{
    
    width: 600px;
    height: 450px;
    background-color: #d8d6d6;
    opacity: 70%;
    margin-left: 0px;
    display: flex;
}

.masinformacion{
    background-color: indigo;
    width: 400px;
    height: 80px;
    margin-left: 200px;
    margin-top: -200px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 5px 10px #666;

}


.masinformacion a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-family: myriad-pro, sans-serif;
}

/* FIN HEADER  */

/* INICIO RESPONSIVE HEADER */

@media (max-width: 768px){
    header {
       width: 500px;
       height: 400px;
    }
}

@media (max-width: 768px){
    .recuadroinformacion {
       display: none;
    }
    
}

@media (max-width: 768px){
    .masinformacion {
       width: 200px;
       height: 50px;
       margin-top: 250px;
       margin-left: 50px;
    }
    .masinformacion a{
        font-size: 20px;
     }
}

/* FIN RESPONSIVE HEADER */



/* INICIO SECTION CATEGORIA */

.categoriatxt{
    border: solid px;
    text-align: center;
}

.categoriatxt p{
        font-size: 40px;
        font-family: myriad-pro, sans-serif;
}


.secciontxybarra{
    border: solid px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.barracategoria{
    border: solid px #d8d6d6;
    background-color: #d8d6d6;
    width: 95%;
}

.seleccioncategoria{
        border: solid 3px black;
        width: 200px;
        margin-left: 65px;
}

.categoriastitulos{
    display: flex;
    justify-content: space-around;
}

.categoriastitulos p{
    font-size: 20px;
    color: gray;
}

/* FIN SECTION CATEGORIAS */
/* INICIO RESPONSIVE SECTION CATEGORIAS */

@media (max-width: 768px){
    .barracategoria {
       width: 500px;
    }
}

@media (max-width: 768px){
    .seleccioncategoria {
       width: 100px;
       margin-left: -10px;
    }
    
}

@media (max-width: 768px){
    .categoriastitulos {
       width: 500px;
    }
    .categoriastitulos p{
        font-size: 12px;
     }
}

/* FIN RESPONSIVE SECTION CATEGORIAS */
/* INICIO SECTION CURSOS */

.cursoscategoriasimg{
    border: solid px black;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.cursoscategoriasimg img{
    width: 350px;
}

.diseñoweb1{
    border: solid px;
    height: 300px;
}
.diseñoweb2{
    border: solid px;
    height: 300px;
}
.diseñoweb3{
    border: solid px;
    height: 300px;
}

.cursoscategoriasbotones{
    border: solid px;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 50px;
}

.boton1{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 40px;
    width: 180px;
    margin-left: -60px;
    background-color: green;
    box-shadow: 1px 5px 5px #666;
}

.boton1 a{
    color: white;
    text-decoration: none;
}

.boton2{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 40px;
    width: 180px;
    margin-left: -60px;
    background-color: green;
    box-shadow: 1px 5px 5px #666;
}

.boton2 a{
    color: white;
    text-decoration: none;
}

.boton3{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 40px;
    width: 180px;
    margin-left: -60px;
    background-color: green;
    box-shadow: 1px 5px 5px #666;
}

.boton3 a{
    color: white;
    text-decoration: none;
    
}

/* FIN SECTION CURSOS */
/* INICIO RESPONSIVE SECTION CURSOS */

@media (max-width: 768px){
    .cursoscategoriasimg {
       display: flex;
       flex-direction: column;
       align-items: center;
    }
}

@media (max-width: 768px){
    .boton1 {
       display: none;
       
    }
    .boton2 {
        display: none;
        
     }
     .boton3 {
        display: none;
        
     }
}

/* FIN RESPONSIVE SECTION CURSOS */

/* INICIO SECTION TESTIMONIOS */

.testimoniostxt{
    border: solid px;
    text-align: center;
    margin: 80px 0px;
}

.testimoniostxt p{
    border: solid px;
    font-size: 40px;
    font-family: myriad-pro, sans-serif;
}
.testimonioimg1{
    display: flex;
    justify-content: center;
}

.testimonioimg1 img{
    width: 150px;
    border-radius: 200px;
}

.testimonioimg2{
    display: flex;
    justify-content: center;
}

.testimonioimg2 img{
    width: 170px;
    border-radius: 250px;
}

.testimonioimg3{
    display: flex;
    justify-content: center;
}

.testimonioimg3 img{
    width: 170px;
    border-radius: 250px;
}

.testimonios{
    border: solid px;
    display: flex;
    justify-content: space-evenly;
}


.linea1{
    border:solid 1px;
    width: 200px;
    
}
.linea2{
    border:solid 1px;
    width: 200px;
    
}
.linea3{
    border:solid 1px;
    width: 200px;
    
}

.testimoniotxt1{
    border: solid px;
    width: 400px;
}

.testimoniotxt1 p{
    text-align: center;
    font-size: 14px;
}

.testimoniotxt2{
    border: solid px;
    width: 400px;
}

.testimoniotxt2 p{
    text-align: center;
    font-size: 14px;
}

.testimoniotxt3{
    border: solid px;
    width: 400px;
}

.testimoniotxt3 p{
    text-align: center;
    font-size: 14px;
}


.testimonio1{
    border: solid px black;
    width: 30%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.testimonio2{
    border: solid px black;
    width: 30%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.testimonio3{
    border: solid px black;
    width: 30%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* FIN SECTION TESTIMONIOS */


/* INICIO RESPONSIVE SECTION TESTIMONIOS */

@media (max-width: 768px){
    .testimonios {
       display: flex;
       flex-direction: column;
       align-items: center;
    }
}
/* FIN RESPONSIVE SECTION TESTIMONIOS */

/* INICIO FOOTER */

.footer{
    background-color: #398DA2;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.footer p{
    color: white;
    font-size: 20PX;
}

/* INICIO FORMULARIO LOGIN */

.formulariologin{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formularioimg img{
    width: 200px;
}

.usuarioinput input{
    height: 40px;
    width: 400px;
}
.contraseñainput input{
    height: 40px;
    width: 400px;
}

.usuario{
    border: solid px;
    margin-left: -205px;

}
.contraseña{
    border: solid px;
    margin-left: -320px;
}
.botoniniciosesion{
    border: solid 1px gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 40px;
    width: 180px;
    background-color: indigo;
}
.botoniniciosesion a{
    text-decoration: none;
    color: white;
}




/* FIN FORMULARIO LOGIN */


/* INICIO CATEGORIAS*/

.fila1{

    width: 100%;
    padding: 1cm;
    justify-content: center;
    

}

.fila2{
    width: 100%;
    padding: 1cm;
    justify-content: center;
}




.seccioncursos{
    border: solid 0px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 0cm;
   
    

}

.seccioncursos2{

    border: solid px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 2cm;
   


}

.botonesc{

display: flex;
justify-content: center;
align-items: center;
border-radius: 10px;
background-color: green;
box-shadow: 1px 5px 5px #666;
}

/* FIN CATERGORIAS*/
/* INICIO PERFIL VISITADO*/

.seccionperfil{

    border: solid px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 2cm;
    padding-bottom: 2cm;
   


}

.textoabout{

    font-size: x-large;
    text-align: justify;

}
.fotoperfil{

    width: 170px;
    border-radius: 250px;
}
.nombreperfiltxt{
   text-align: center;
}

.miscursos{
    font-size: x-large;
    text-align: center;
}

/* FIN PERFIL VISITADO*/
/* INICIO CURSO */

.titulocurso{
    border: solid px;
    text-align: center;
    font-size: 50px;
    color: gray;
    margin-top: 2cm;
    margin-left: 5cm;
    margin-bottom: 0cm;
    max-width:75%;



}

.videos{
    border: solid px;
    display: flex;
    justify-content: center;
    margin-top: 0cm;
    margin-left: 5cm;
    margin-bottom: 2cm;
    max-width:75%;
    
    
    
    
    padding-top: 2cm;
   
    


}

.textos1{
    justify-content:space-between;

    border: solid px;
    display: flex;

    margin-top: 2cm;
    margin-left: 5cm;
    margin-bottom: 5cm;
    max-width:75%;

    
}



.textoestrellas{
    border: solid px;
    display: flex;
    justify-content: right;
    


}
.checked {
    color: orange;
  }
.imagenstar{

    max-width: 20%;
    display: flex;
    padding-left: 1cm;
    padding-right: 1cm;
    
    
    
    justify-content: left;

    
    
}

.textos2{
    justify-content: space-between;

    border: solid px;
    display: flex;

    margin-top: 2cm;
    margin-left: 5cm;
    margin-bottom: 0cm;
    max-width:75%;
}


.comentarios1{
    justify-content: space-evenly;

    border: solid px;
    display: flex;

    margin-top: 0cm;
    margin-left: 5cm;
    margin-bottom: 0cm;
    max-width:75%;


}
/* FIN CURSO*/